.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

.card-image-container {
  position: relative;
  display: inline-block; /* To keep the image and icons together */
}

.card-image {
  display: block;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 200px;
  object-fit: cover;
}

.card-icons {
  position: absolute;
  top: 10px; /* Adjust as needed for spacing */
  right: 10px; /* Adjust as needed for spacing */
  display: flex;
  gap: 5px; /* Space between icons */
}

.card-icon {
  color: white; /* Change this if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Optional background color */
  border-radius: 50%; /* Optional rounded background */
  padding: 5px; /* Optional padding inside the icon background */
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  flex-grow: 1;
}

.card-title {
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-description {
  color: #666;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-price {
  font-weight: bold;
  color: rgb(87, 87, 255);
  margin-top: 10px;
}

.product-rating {
  color: rgb(87, 87, 255);
}

button {
  background-color: rgb(87, 87, 255);
  color: white;
  border-radius: 8px;
  border: none;
  padding: 10px;
}

.button-add-product{
  margin-left: 20px;
  margin-top: 20px;
}
