.navbar-custom {
  background-color: var(--container-background);
}

.navbar-custom .navbar-brand img {
  max-height: 40px;
  background-color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 10px;
}

.navbar-custom .nav-link {
  margin-right: 15px;
  color: var(--text)!important;
}

.navbar-custom .form-control {
  flex: 1;
  background-color: var(--form-background);
  color: var(--text-search);
  border: none;
}

.navbar-custom .form-control::placeholder {
  color: #aaa;
}

.navbar-custom .nav-link .svg-inline--fa {
  margin-right: 5px;
}

.navbar-custom .nav-link {
  color: #fff;
}

.navbar-toggler-icon {
  background-color: white;
}

.light {
  --container-background: rgb(231, 231, 231);
  --text: black;
  --border: black;
  --form-background: rgb(255, 255, 255);
  --text-search: black;
}

.dark {
  --container-background: rgb(0, 0, 0);
  --text: white;
  --border: white;
  --form-background: rgb(231, 231, 231);
  --text-search: black;
}

